@theme {
  --color-gray-light-25: #fdfdfd;
  --color-gray-light-50: #fafafa;
  --color-gray-light-100: #f5f5f5;
  --color-gray-light-200: #e9eaeb;
  --color-gray-light-300: #d5d7da;
  --color-gray-light-400: #a4a7ae;
  --color-gray-light-500: #717680;
  --color-gray-light-600: #535862;
  --color-gray-light-700: #414651;
  --color-gray-light-800: #252b37;
  --color-gray-light-900: #181d27;
  --color-gray-light-950: #0a0d12;

  --color-gray-dark-25: #fafafa;
  --color-gray-dark-50: #f7f7f7;
  --color-gray-dark-100: #f0f0f1;
  --color-gray-dark-200: #ececed;
  --color-gray-dark-300: #cecfd2;
  --color-gray-dark-400: #94979c;
  --color-gray-dark-500: #85888e;
  --color-gray-dark-600: #61656c;
  --color-gray-dark-700: #373a41;
  --color-gray-dark-800: #22262f;
  --color-gray-dark-900: #13161b;
  --color-gray-dark-950: #0c0e12;

  --color-brand-25: #fcfaff;
  --color-brand-50: #f9f5ff;
  --color-brand-100: #f4ebff;
  --color-brand-200: #e9d7fe;
  --color-brand-300: #d6bbfb;
  --color-brand-400: #b692f6;
  --color-brand-500: #9e77ed;
  --color-brand-600: #7f56d9;
  --color-brand-700: #6941c6;
  --color-brand-800: #53389e;
  --color-brand-900: #42307d;
  --color-brand-950: #2c1c5f;

  --color-error-25: #fffafa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-error-950: #55160c;

  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-warning-950: #4e1d09;

  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #cdfae6;
  --color-success-200: #abefc6;
  --color-success-300: #75e0a7;
  --color-success-400: #47cd89;
  --color-success-500: #17b26a;
  --color-success-600: #079455;
  --color-success-700: #067647;
  --color-success-800: #085d3a;
  --color-success-900: #074d31;
  --color-success-950: #053321;
}